html,
body {
    font-size: $cx-body-font-size;
    @include respond-to(mobile) {
        font-size: 14px;
    }
}

body {
    font-family: $cx-body-font;
    line-height: $cx-body-line-height;
    color: $cx-text-color;
    font-weight: $cx-body-font-weight;
    background: $cx-body-bg-color;
}

h1 { 
    font-size: 2*$cx-body-font-size;
}
h2 { 
    font-size: 1.75*$cx-body-font-size;
}
h3 { 
    font-size: 1.5*$cx-body-font-size;
}
h4 { 
    font-size: 1.3125*$cx-body-font-size; 
}
h5 { 
    font-size: 1.125*$cx-body-font-size; 
}
h6 { 
    font-size: 1*$cx-body-font-size; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: $cx-heading-font;
    font-weight: 700;
    @extend %default-heading;   
}

.fa {
    font-size: $cx-icon-font-size;
}

p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $cx-heading-margin-bottom;
}

ul, ol, table, dl, dd {
    margin-bottom: $cx-heading-margin-bottom;
}

address, blockquote {
    font-style: italic;
}

blockquote {
    font-size: $cx-body-font-size;
}

td, th {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
}

*:focus{
    outline: none;
}

a {
    @extend %cx-transition;
    text-decoration: none;
    @extend %color-primary;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus, a:active, a:hover {
    outline: 0 none;
    text-decoration: none;
    @extend %color-secondary;
}

.btn-link {
    @extend %color-primary;
    &:hover,
    &:focus,
    &:active {
        @extend %color-secondary;
    }
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 14px;
    font-weight: normal;
}

textarea,
select,
input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="tel"] {
    padding:8px 10px;
    border:1px solid darken($cx-border-color, 10%);
    margin-bottom: 15px;
    min-height: 40px;
    @include border-radius(0);
}

.form-control {
    border-radius: 0;
    &:focus {
        box-shadow: none;
        // @include cx-color(primary, border);
        @extend %border-primary;
    }
}

textarea {
    min-height: 160px;
}

.input-group,
.input-group input, 
.input-group select, 
.input-group 
.dropdown-menu, 
.input-group .popover {
    font-size: 0.875*$cx-body-font-size;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    border-width:1px;
    border-style: solid;
    min-height: 40px;
    font-size: 0.85*$cx-body-font-size;
    padding: 8px 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    @extend %bgc-primary;
    @extend %color-white;
    @extend %border-primary;
    @extend %cx-transition;
    &:hover {
        @extend %border-secondary;
        @extend %bgc-secondary;
    }
}

button:focus,
textarea:focus {
    outline: 0;
    @extend %border-secondary;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    @extend %border-primary;
    @extend %bgc-primary;
}

::-webkit-input-placeholder{
  color: #292929;
  font-size: 13px;
}
::-moz-placeholder{
  color: #292929;
  font-size: 13px;
}
:-ms-input-placeholder{
  color: #292929;
  font-size: 13px;
}
:-moz-placeholder {
  color: #292929;
  font-size: 13px;
}

::-webkit-selection {
    background: #b3d4fc;
    text-shadow: none;
    color: #fff;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: $cx-primary-color;
    text-shadow: none;
    color: #fff;
}